In [1]:
import requests
import pandas as pd
from config import gkey
from scipy import stats
from config import api_key
import numpy as np
from matplotlib import pyplot as plt
import json
import csv
import gmaps
import warnings
warnings.filterwarnings('ignore')

#### import analysis data from step2, get city list who doesn't have mexican restaurant

In [2]:
path='C:/Users/rwang/Desktop/Mentos/analysisdata.csv'
file=pd.read_csv(path)
analysisdata=pd.DataFrame(file)
data1=analysisdata[analysisdata["category"]!="mexican"]
data2=data1[data1["category"]!="newmexican" ]
mapdata=data2.drop_duplicates(subset="city",keep="first")
mapdata

,Unnamed: 0,Unnamed: 0.1,id,review,category,rating,city,lat,lon,ratingscore
0,0,0,_-gHCEypqwVNlkzTWfgI_w,255,southern,4.5,Albany,42.661730,-73.778150,0.017647
47,48,48,rgE5mVpDI12N_PGbfthxQg,92,bars,4.5,Menands,42.677236,-73.737267,0.048913
49,51,51,Cy_3D3l3QlZ1VjglwI6lDQ,78,southern,4.0,Annapolis,38.978706,-76.540741,0.051282
95,101,101,gMSCtM6SCUF-bp3Ypw8Jxg,707,southern,4.5,Atlanta,33.848100,-84.368580,0.006365
124,150,150,lW-emnalZBxbV2sSUXVwXg,228,seafood,4.5,Augusta,33.485385,-82.030020,0.019737
...,...,...,...,...,...,...,...,...,...,...
1693,2193,2196,xj-q4cgY0UE2x6ITCc-0XQ,282,mideastern,4.5,Salt Lake City,40.749290,-111.895610,0.015957
1713,2217,2220,jF8FWPVmZo0gQfoaetIQHQ,298,gastropubs,4.5,Santa Fe,35.689835,-105.944389,0.015101
1756,2265,2268,WeAJwq5da-IKfuRDGpbkTQ,573,burgers,4.5,Springfield,37.207280,-93.291880,0.007853
1799,2315,2318,K7GmZaHnAK1Hn2UliqcP8w,330,southern,4.5,Tallahassee,30.483136,-84.163221,0.013636
1844,2364,2368,XESVMpEhsu3BBPAVMrtrQA,86,newamerican,4.5,Topeka,39.053460,-95.676180,0.052326

In [3]:
url1 = "http://api.openweathermap.org/data/2.5/weather?"
query_url1 = f"{url1}appid={api_key}&q="
cities1=mapdata["city"]
temp1=[]
humidity1=[]
windspeed1=[]
cloudness1=[]

for city1 in cities1:
    response = requests.get(query_url1+city1).json()
    try:
        temp1.append(response["main"]['temp'])
        humidity1.append(response["main"]['humidity'])
        windspeed1.append(response["wind"]['speed'])
        cloudness1.append(response["clouds"]['all'])
    except:
        temp1.append(np.nan)
        humidity1.append(np.nan)
        windspeed1.append(np.nan)
        cloudness1.append(np.nan)

In [4]:


mapdata['temp']=temp1
mapdata['humidity']=humidity1
mapdata['windspeed']=windspeed1
mapdata['cloudness']=cloudness1
cleanmapdata=mapdata.dropna()
cleanmapdata

,Unnamed: 0,Unnamed: 0.1,id,review,category,rating,city,lat,lon,ratingscore,temp,humidity,windspeed,cloudness
0,0,0,_-gHCEypqwVNlkzTWfgI_w,255,southern,4.5,Albany,42.661730,-73.778150,0.017647,278.84,100.0,1.50,90.0
47,48,48,rgE5mVpDI12N_PGbfthxQg,92,bars,4.5,Menands,42.677236,-73.737267,0.048913,278.59,89.0,5.70,90.0
49,51,51,Cy_3D3l3QlZ1VjglwI6lDQ,78,southern,4.0,Annapolis,38.978706,-76.540741,0.051282,285.24,93.0,1.50,90.0
95,101,101,gMSCtM6SCUF-bp3Ypw8Jxg,707,southern,4.5,Atlanta,33.848100,-84.368580,0.006365,291.39,42.0,2.60,1.0
124,150,150,lW-emnalZBxbV2sSUXVwXg,228,seafood,4.5,Augusta,33.485385,-82.030020,0.019737,272.63,81.0,6.70,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,2166,2169,aSBsAawEJMebT8F4oRTKYw,507,newamerican,4.5,Salt Lake City,40.764810,-111.878731,0.008876,278.76,42.0,3.10,75.0
1713,2217,2220,jF8FWPVmZo0gQfoaetIQHQ,298,gastropubs,4.5,Santa Fe,35.689835,-105.944389,0.015101,297.26,92.0,1.58,15.0
1756,2265,2268,WeAJwq5da-IKfuRDGpbkTQ,573,burgers,4.5,Springfield,37.207280,-93.291880,0.007853,283.90,66.0,3.60,1.0
1799,2315,2318,K7GmZaHnAK1Hn2UliqcP8w,330,southern,4.5,Tallahassee,30.483136,-84.163221,0.013636,295.01,83.0,1.50,1.0
1844,2364,2368,XESVMpEhsu3BBPAVMrtrQA,86,newamerican,4.5,Topeka,39.053460,-95.676180,0.052326,283.08,57.0,1.58,1.0

In [5]:

locations=cleanmapdata[["lat","lon"]]
temp=cleanmapdata["temp"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,weights=temp,max_intensity=10,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
cleanmapdata.describe()

,Unnamed: 0,Unnamed: 0.1,review,rating,lat,lon,ratingscore,temp,humidity,windspeed,cloudness
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,1141.483146,1142.988764,302.134831,4.292135,38.874984,-94.392073,0.031799,284.355506,68.966292,3.797079,47.112360
std,612.381920,613.282960,246.528313,0.343850,5.495209,18.906212,0.028764,6.599649,19.185962,2.390357,41.433528
min,0.000000,0.000000,35.000000,3.000000,21.279230,-157.826540,0.004934,269.470000,18.000000,0.510000,0.000000
25%,733.000000,734.000000,88.000000,4.000000,33.848100,-111.878731,0.008721,279.270000,57.000000,2.100000,1.000000
50%,1066.000000,1067.000000,209.000000,4.500000,39.158050,-87.916750,0.020958,283.710000,71.000000,3.100000,75.000000
75%,1598.000000,1600.000000,507.000000,4.500000,41.823510,-78.636240,0.048193,286.630000,83.000000,5.100000,90.000000
max,2364.000000,2368.000000,912.000000,5.000000,58.297107,-70.888460,0.114286,306.150000,100.000000,9.800000,100.000000

In [7]:
definedata=cleanmapdata[(cleanmapdata["temp"]<279.35)&(cleanmapdata["windspeed"]>5.7)]
definedata.reset_index(inplace=True)
definedata

,index,Unnamed: 0,Unnamed: 0.1,id,review,category,rating,city,lat,lon,ratingscore,temp,humidity,windspeed,cloudness
0,124,150,150,lW-emnalZBxbV2sSUXVwXg,228,seafood,4.5,Augusta,33.485385,-82.030020,0.019737,272.63,81.0,6.7,100.0
1,328,402,403,nyy38msunExaObJOeH7j0Q,565,cajun,4.0,Boston,42.347120,-71.068340,0.007080,277.08,93.0,9.3,90.0
2,1024,1299,1300,9DpLvbyKDWQfNOJQwBpI7g,516,seafood,4.5,Juneau,58.297107,-134.401923,0.008721,269.47,35.0,8.7,75.0
3,1055,1348,1350,d3oX54u9J2tnKk4csVpqZQ,67,steak,4.5,Lansing,42.733260,-84.548530,0.067164,279.23,75.0,9.3,90.0
4,1080,1377,1379,s8JPUiqBM0g560Ocw_2AeQ,173,tapasmallplates,4.0,Okemos,42.711285,-84.461922,0.023121,279.32,75.0,9.3,90.0
5,1087,1385,1387,fF2EVOSi0qD9p_juVvu02g,62,wine_bars,4.5,DeWitt,42.841862,-84.568665,0.072581,279.20,80.0,7.7,1.0
6,1092,1394,1396,vBNWEG1sct6mmFc3mllwPA,60,hotpot,4.0,East Lansing,42.725921,-84.447921,0.066667,279.27,75.0,9.3,90.0
7,1427,1865,1868,1b7VzPKVn5D9uSaV4I__lg,345,italian,5.0,Providence,41.823510,-71.426520,0.014493,277.71,87.0,7.7,90.0
8,1652,2139,2142,OMF9EFdNGGL14cn7x4nk4g,531,newamerican,4.5,Lynn,42.463230,-70.947640,0.008475,277.04,93.0,9.3,90.0
9,1662,2151,2154,LEPOZidcN4qKr_XiOotTaA,183,italian,4.0,Peabody,42.525375,-70.927338,0.021858,277.01,93.0,6.7,90.0

In [8]:
definedata1=definedata[(definedata["humidity"]<56)]
bestchoice=definedata1[["city","lat","lon","temp","humidity","windspeed","cloudness"]]
bestchoice

     city        lat         lon    temp  humidity  windspeed  cloudness
2  Juneau  58.297107 -134.401923  269.47      35.0        8.7       75.0

## If you want to open a mexican restaurant, locate it in Juneau,Alaska you will possibly have a good review !!